<h1>Listing course_prerequisites</h1>

<table border=1>
  <tr>
    <th>Course</th>
    <th>Prerequisite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_prerequisites.each do |course_prerequisite| %>
  <tr>
    <td><%= course_prerequisite.main_course %></td>
    <td><%= course_prerequisite.prerequisite_course %></td>
    <td><%= link_to 'Show', course_prerequisite %></td>
    <td><%= link_to 'Edit', edit_course_prerequisite_path(course_prerequisite) %></td>
    <td><%= link_to 'Destroy', course_prerequisite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course prerequisite', new_course_prerequisite_path %>
