<%= form_for(@student_experience) do |f| %>
  <% if @student_experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_experience.errors.count, "error") %> prohibited this student_experience from being saved:</h2>

      <ul>
      <% @student_experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
