<%= form_for(@department_choice) do |f| %>
  <% if @department_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department_choice.errors.count, "error") %> prohibited this department_choice from being saved:</h2>

      <ul>
      <% @department_choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
