<h1>Listing enrolment_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enrolment_types.each do |enrolment_type| %>
  <tr>
    <td><%= enrolment_type.name %></td>
    <td><%= link_to 'Show', enrolment_type %></td>
    <td><%= link_to 'Edit', edit_enrolment_type_path(enrolment_type) %></td>
    <td><%= link_to 'Destroy', enrolment_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enrolment type', new_enrolment_type_path %>
