<%= form_for(@admission_type) do |f| %>
  <% if @admission_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admission_type.errors.count, "error") %> prohibited this admission_type from being saved:</h2>

      <ul>
      <% @admission_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
        <%= f.label :program_type_id %><br />
        <%= f.collection_select(:program_type_id,@program_types,:id,:name) %>
    </div>
    <div class="field">
        <%= f.label :enrollment_type_id %><br />
        <%= f.collection_select(:enrollment_type_id,@enrollment_types,:id,:full_name) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
