
<center>

 <%= form_for @transfer, :url => { :action => "create" }, :html => { :method => :get }  do |f| %>
    <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <table>
   <tr>
     <td bgcolor=#E8E8E8>
       <h2 align=center>Mekelle University</h2>
<h3 align=center>Transfer Application </h3>
<hr width=50%>
     </td>
   </tr>
   <tr>
     <td>
       <form>
  <fieldset>
    <legend>Transfer Information</legend>
<table cellpadding="4" bgcolor="#F2F2F2">
 <tr>
<td><%=f.label :transfer_type %>:
  </td>
<td><%=f.radio_button :transfer_type, 'With in the University' %>
<%=f.label :Within %>
<%=f.radio_button :transfer_type, 'To other University' %>
<%=f.label :Other %>
   </td>
</tr>
 </fieldset>
</form>

<tr>
<td>
  
  <div class="field">
    <%= f.label :transfered_university_name %></td>
<td><%= f.text_field :transfered_university_name %>
  </div>
 
    </td>
     
</tr>

<tr>
<td>
  <div class="field">
    <%= f.label :transfered_faculty_name %></td>
<td><%= f.text_field :transfered_faculty_name %>
  </div></td>
</tr>
<tr>
<td>
  <div class="field">
    <%= f.label :transfered_department_name %></td>
<td><%= f.text_field :transfered_department_name %>
  </div></td>
</tr>
<tr> <td colspan=2><u><i>Type of transfer Application Programs</i></u></td>
  <tr><td>
  <b><i>Program</i></b> <br>
</td><td></td></tr>
<tr><td>   <div class="field">
   <%=f.label :transfered_program %>:</td>
    <td>

 
<%=f.radio_button :transfered_program, 'Diploma' %>
<%=f.label :Diploma %><br />
<%=f.radio_button :transfered_program, 'Under Graduate Degree' %>
<%=f.label :Under_Graduate_Degree %><br />
<%=f.radio_button :transfered_program, 'Post Graduate Degree' %>
<%=f.label :Post_Graduate_Degree %>
</td> 
  </div>
  </tr>
  <tr><td> <b><i>Enrollment</i></b> </td><td></td> </tr>
     <tr><td><div class="field">
    <%= f.label :transfered_enrollment %></td>
    <td><%=f.radio_button :transfered_enrollment, 'Regular Fulltime' %>
<%=f.label :Regular_Fulltime %>&nbsp; &nbsp;
<%=f.radio_button :transfered_enrollment, 'Extension' %>
<%=f.label :Extension %><br />
<%=f.radio_button :transfered_enrollment, 'In service' %>
<%=f.label :In_service %> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<%=f.radio_button :transfered_enrollment, 'Regular Parttime' %>
<%=f.label :Regular_Parttime %><br />
<%=f.radio_button :transfered_enrollment, 'Distance Education' %>
<%=f.label :Distance_Education %></td> 
  
  </tr>
  
  <tr>
    <td></td>
    <td></td>
  </tr>
<tr>
<td>
  <div class="field">
    <%= f.label :effective_as_of_semester %></td>
<td><%= f.text_field :effective_as_of_semester %>
  </div></td>
</tr>
<tr>
<td>
  <div class="field">
    <%= f.label :effective_as_of_ac_year %></td>
<td><%= f.text_field :effective_as_of_ac_year %>
  </div></td>
</tr>
<tr>
<td>
  <div class="field">
    <%= f.label :transfer_reason %></td>
<td><%= f.text_area :transfer_reason, :rows => 3 %>
  </div></td>
</tr>
<tr> 
  <td>  
    <div class="field">
    <%= f.label :application_date %>
   </td>
   <td>    
     <%= f.date_select :application_date, :start_year => Time.now.year-30, :end_year => Time.now.year+50 %>
  </div></td>
</tr>

<tr>
  <td colspan=2><center><div class="actions">
    <%= f.submit "submit" %>
  </div> </center></td>
</tr>


</table>

<% end %>
            
   <%= link_to 'Back', transfer_index_path%> </td>
  </tr>
  
</table>

</center>


