
<%= flash[:notice] %> <BR>
<h1>Listing Transfers</h1>

<table border=0>
  <tr>
    
    <th>Transfer Type</th>
    <th>Effective as of Semester</th>
    <th>Transfered Faculty Name</th>
   
    <th>Transfered Program</th>
    <th>Transfered Enrollment</th>
  </tr>

<% @transfer.each do |transfer| %>
  <tr>
   
    <td><%= transfer.transfer_type %></td>
    <td><%= transfer.effective_as_of_semester %></td>
    <td><%= transfer.transfered_faculty_name %></td>
   
    <td><%= transfer.transfered_program %></td>
    <td><%= transfer.transfered_enrollment %></td>
    
    
    
  </tr>
<% end %>
</table>

<br />



<ul>
  <li> <%= link_to 'New Transfer', transfer_new_path %>
  
</ul>
  




