<!DOCTYPE html>
<html>
<head>
  <title>Exttrial</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= netzke_init %>
  <%= javascript_include_tag "main_page" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <!-- use class="x-hide-display" to prevent a brief flicker of the content -->
    <div id='north'>
        <div class='left'>
            <img src='/images/mu_icon_64.png'/>
            <img src='/images/mu_text.png'/>
        </div>
    </div>
    <div id="west" class="x-hide-display">
        
        <%= yield(:menu) %>
        <%= link_to('Clearance','/clearance/new') %><br/>
         <%= link_to('Undergrd','/undergraduate_program/new') %><br/>
        <%= link_to('Students','/students/new') %>
    </div>
    <div id="center2" class="x-hide-display">
        <%= yield %>
        
        
    </div>
    
    <div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;">

    </div>
    <div id="south" class="x-hide-display">
        <pre>
            Mekelle University :
             - Comments
             - Footer links
        </pre>
    </div>

</body>
</html>
